body{
    background: rgb(255,106,0);
    background: linear-gradient(166deg, rgba(255,106,0,1) 11%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 32px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.title-log {
    font-size: 2.3em;
    font-weight: 600;
    color: #000;
    text-align: center;
    padding: 10px 0 1.3em;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 8px 11px 15px 9px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 550px;
}

.heigth-all {min-height: 663px;}

.form-login  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-form > input {
    padding: .8em .8em .8em 8em;
    border-radius: 10px;
    margin: 5px 0;
    width: 57%;
}

.container button , .btn-signin{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
}

.value-rigth {
    padding: 1em;
    width: 40%;
    border-radius: 10px;
    margin-top: 1em;
}

.panel-toogle {
    display: none;
}

.container a{
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.icon {
    color: #000;
}


.btns-form::before {
    content: "";
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
  }
  
  .btns-form:hover::before {
    background-color: #f5762a;
    animation: move 1.3s forwards;
  }
  
  
  @keyframes move {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  

@media ( width > 775px) {
    


.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}





.btn-signin {
    color: #fff;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3em;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.social-icons {
    padding: 20px 0;
}

.form-container{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    border-top-right-radius: 29%;
    border-bottom-right-radius: 31%;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    right: -32px;
    transform: translateX(0);
}

.container.active .toggle-left{
    
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(-0);
}
}