<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/getMoney.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper" class="home">
        <header id="header-all-container">
            <div class="container-header">
                <div class="wrapper header-wrapper">
                    <a href="Home">
                        <div class="title-header">
                        <img src="../static/img/logo Bank.jpeg" style="width: 69px;" alt="salame bank logo">
                            <h1 class="title_bank_principal">Salame Bank</h1>
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <main class="form-all">
            <section class="container-form-money">
                <form action="/Completed" method="post" class="form-money">
                     
                    <input type="hidden" name="action" value="deposit">
                    <ul>
                        <li class="form-li">
                            
                            <input type="number" name="money" id="money" required>
                            <label class="center" for="money">Dinero a depositar</label>
                        </li>
                        <li class="form-li label-top">
                            <input class="input-top-left2" type="password" name="password" id="password" required>
                            <label class="top-left" for="password">Ingrese su contraseña</label>
                        </li>
                    </ul>
    
                    <input type="submit" id="btn-submit" value="Depositar">
                </form>
            </section>
        </main>
    </div>
</body>
</html>