<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Creacion de Cuenta</title>
</head>
<body>
    <div id="wrapper" class="home">
        <header id="header-all-container">
            <div class="container-header">
                <div class="wrapper header-wrapper">
                    <a href="index">
                        <div class="title-header">
                        <img src="../static/img/logo Bank.jpeg" style="width: 69px;" alt="salame bank logo">
                            <h1 class="title_bank_principal">Salame Bank</h1>
                        </div>
                    </a>
    
                    <button id="open-bar" class="open-main"><i class="fa-solid fa-bars bar-menu"></i></button>
            
                    <nav class="navigation-header" id="nav-header">
                        <button id="close-bar" class="close-main"><i class="fa-solid fa-xmark"></i></button>
                        <ul class="container-options">
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main class="main-home">
            <div class="main-all">
                <section class="container-info-top">
                    <div class="wrapper">
                        <div class="name-cursor">
                            <h2>Bienvenido {{client_info["username"]}}</h2>
                        </div>
                        <div class="currecy-cursor">
                            <div class="currency actual">
                                <p>Saldo Actual: {{client_info["currency"]}}</p>
                            </div>
                            <div class="currency min">
                                <p>Total Gastado : {{client_info["currecy"]}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <aside class="option-pc">
                <ul class="container-options">
                    <li class="ul-option-home">
                        <a href="" class="btn-options">Retirar Dinero</a>
                    </li>
                    <li class="ul-option-home">
                        <a href="" class="btn-options">Ingresar Dinero</a>
                    </li>
                    <li class="ul-option-home">
                        <a href="" class="btn-options">Transferir Dinero </a>
                    </li>
                    <li class="ul-option-home">
                        <a href="" class="btn-options">Cerrar Sesion</a>
                    </li>
                </ul>
            </aside>
        </main>
        
    </div>


    <script src="../static/js/barba.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>