<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Creacion de Cuenta</title>
</head>
<body>
    <div id="wrapper" class="home">
        <header id="header-all-container">
            <div class="container-header">
                <div class="wrapper header-wrapper">
                    <a href="Home">
                        <div class="title-header">
                        <img src="../static/img/logo_Bank-removebg-preview.png" style="width: 69px;" alt="salame bank logo">
                            <h1 class="title_bank_principal">Salame Bank</h1>
                        </div>
                    </a>
    
                    <a href="{{ url_for('logout')}} " class="btn-logout"><i class="fa-solid fa-power-off"></i> Cerrar Sesion</a>

                </div>
            </div>
        </header>

        <main class="main-home">
            <div class="main-all">
                <section class="container-info-top">
                    <div class="wrapper">
                        <div class="name-cursor">
                            <h2>Bienvenido {{client_info["name"]}}</h2>
                        </div>
                        <div class="currecy-cursor cointainer-cursor">
                            <div class="currency-actual">
                                <p>Saldo de la Cuenta: {{client_info["currency"]}}.00  €</p>
                            </div>
                            <div class="btn-options-cursor">
                                <ul class="ul-btn-cursor">
                                    <li class="li-btn-cursor">
                                        <a href="deposit" class="btn-option">
                                            <i class="fa-solid fa-plus radius-link radius-link1"></i>
                                            Depositar
                                        </a>
                                    </li>
                                    <li class="li-btn-cursor">
                                        <a href="withdraw" class="btn-option">
                                            <i class="fa-solid fa-minus radius-link radius-link2"></i>                                    
                                            Retirar 
                                        </a>
                                    </li>
                                    <li class="li-btn-cursor">
                                        <a href="transfer" class="btn-option">
                                            <i class="fa-solid fa-arrow-down radius-link radius-link3"></i>
                                            Transferir
                                        </a>
                                    </li>
                                </ul>

                            </div>
                           
                        </div>

                        <div class="info-client">
                            <div class="details-about">
                                <div class="container-about-client">
                                    <div class="img-logo">
                                        <p>ID del Cliente : #00{{ client_info["id_client"] }}</p>
                                        <i class=" icon-bar-carrusel fa-solid fa-user"></i>
                                    </div>
                                    <ul class="ul-info-client">
                                        <li class="btn-infos name-complete">
                                            
                                            <p>Nombre y Apellido  <br> <span>{{ client_info["name"] }} {{ client_info["surname"] }}</span> </p>                                                
                                            
                                        </li>
                                        <li class="btn-infos">
                                            <p>Edad  <br> <span>{{ client_info["age"] }} años</span></p>
                                        </li>
                                        <li class="btn-infos">
                                            <p>Email  <br> <span>{{ client_info["email"] }}</span> </p>
                                        </li>
                                        <li class="btn-infos">
                                            <p>IBAN  <br> <span>{{client_info["IBAN"]}}</span> </p>
                                        </li>
                                        <li class="btn-infos">
                                            <p>Pais de Nacimiento  <br> <span>{{client_info["country"]}}</span>  </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> 

                        <div class="history-client option-info-client">
                            
                            <div class="btn-view-history">
                                <h2 class="h2-history">Movimientos</h2>
                                <ul class="ul-list-transactions">
                                    
                                    
                                    {% if transactions_info %}
                                    <li>
                                        {% for transaction in transactions_info %}
                                        <li class="container-about">

                                    
                                            {% if transaction[3] == "deposit"%}
                                                <i class="fa-solid fa-cart-shopping shoppin-transaction"></i>

                                            {% elif transaction[3] == "withdraw"%}
                                                <i class="fa-solid fa-bomb shoppin-transaction"></i>    
                                            
                                            {% else %}
                                                <i class="fa-solid fa-share shoppin-transaction"></i>
                                            
                                            {% endif %}

                                            <div>
                                                <p>{{transaction[3]}}</p>
                                            </div>
                                            <ul class="info-transation">
                                                <li>Fecha: {{ transaction[0] }}</li>
                                                <li>Hora: {{ transaction[1] }}</li>
                                            </ul>
                                            <div>
                                                <p>{{ transaction[2] }}</p>
                                            </div>
                                            
                                            
                                            {% endfor %}
                                        </li>
                                    </li>
                                
                                {% else %}
                                
                                <li class="list-transation-none">
                                    <img src="../static/img/mony-removebg-preview.png" alt="no hay nada mony salame bank">
                                    No haz hecho alguna transaccion por ahora.
                                </li>
                                
                                {% endif %}                                    
                                </ul>
                            </div>                          
                        </div>
                    </div>
                </section>
            </div>
        </main>
        
    </div>


    <script src="../static/js/barba.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>