<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Creacion de Cuenta</title>
</head>
<body>
    <div id="wrapper" class="home">
        <header id="header-all-container">
            <div class="container-header">
                <div class="wrapper header-wrapper">
                    <a href="index">
                        <div class="title-header">
                        <img src="../static/img/logo_Bank-removebg-preview.png" style="width: 69px;" alt="salame bank logo">
                            <h1 class="title_bank_principal">Salame Bank</h1>
                        </div>
                    </a>
    
                    <a href="{{ url_for('logout')}} " class="btn-logout"><i class="fa-solid fa-power-off"></i> Cerrar Sesion</a>

                    <button id="open-bar" class="open-main"><i class="fa-solid fa-bars bar-menu"></i></button>
            

                    <nav class="navigation-header" id="nav-header">
                        <button id="close-bar" class="close-main"><i class="fa-solid fa-xmark"></i></button>
                        <ul class="container-options">
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                            <li class="ul-option-home">
                                <a href="" class="btn-options">#</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main class="main-home">
            <div class="main-all">
                <section class="container-info-top">
                    <div class="wrapper">
                        <div class="name-cursor">
                            <h2>Bienvenido {{client_info["name"]}}</h2>
                        </div>
                        <div class="currecy-cursor cointainer-cursor">
                            <div class="currency-actual">
                                <p>Saldo de la Cuenta: {{client_info["currency"]}}.00  €</p>
                            </div>
                            <div class="btn-options-cursor">
                                <ul class="ul-btn-cursor">
                                    <li class="li-btn-cursor">
                                        <a href="deposit" class="btn-option">
                                            <i class="fa-solid fa-plus radius-link radius-link1"></i>
                                            Depositar
                                        </a>
                                    </li>
                                    <li class="li-btn-cursor">
                                        <a href="withdraw" class="btn-option">
                                            <i class="fa-solid fa-minus radius-link radius-link2"></i>                                    
                                            Retirar 
                                        </a>
                                    </li>
                                    <li class="li-btn-cursor">
                                        <a href="transfer" class="btn-option">
                                            <i class="fa-solid fa-arrow-down radius-link radius-link3"></i>
                                            Transferir
                                        </a>
                                    </li>
                                </ul>

                            </div>
                           
                        </div>

                        <div class="info-iban">
                            <div class="details-about">
                                <p>Mostrar informacion </p>
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                            <!-- <p>IBAN : {{client_info["IBAN"]}}</p> -->
                        </div> 

                        <div class="history-client option-info-client">
                            
                            <div class="btn-view-history">
                                <h2 class="h2-history">Transacciones</h2>
                                {% if transactions_info %}
                                    <ul class="ul-list-transactions">
                                        <li class="container-about">
                                            <i class="fa-solid fa-cart-shopping shoppin-transaction"></i>
                                            <ul class="info-transation">
                                                <li>Fecha: {{ transactions_info[0][0] }}</li>
                                                <li>Hora: {{ transactions_info[0][1] }}</li>
                                            </ul>
                                            <div>
                                                <i class="fa-solid fa-plus"></i> {{ transactions_info[0][2] }}
                                            </div>
                                        </li>
                                    </ul>
                                {% else %}
                                    <h2>no hicistes nada brodi</h2>
                                {% endif %}
                            </div>                          
                        </div>
                    </div>
                </section>
            </div>
        </main>
        
    </div>


    <script src="../static/js/barba.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>