<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/reset.css">    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/logo_Bank-removebg-preview.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Salame Bank</title>
</head>
<body>
    <header id="header-all-container">
        <div class="container-header">
            <div class="wrapper header-wrapper">
                <a href="index">
                    <div class="title-header">
                    <img src="../static/img/logo_Bank-removebg-preview.png" style="width: 69px;" alt="salame bank logo">
                        <h1 class="title_bank_principal">Salame Bank</h1>
                    </div>
                </a>
                
                <div class="options-header">
                    <div class="header-bottom">
                        <ul class="Buttoms-Signin_Login sing-log-pc">
                            <li class="btn-losing"><a class="btn-buttom-bar registrer-btn-phone" href="Login">Iniciar Sesion</a></li>
                            <li class="btn-losing"><a class="btn-buttom-bar login-btn-phone" href="Signin">Registrarse</a></li>
                        </ul>
                    </div>
                </div>

                <button id="open-bar" class="open-main"><i class="fa-solid fa-bars bar-menu"></i></button>
        
                <nav class="navigation-header" id="nav-header">
                    <button id="close-bar" class="close-main"><i class="fa-solid fa-xmark"></i></button>
                    <div class="header-bottom">
                        <ul class="Buttoms-Signin_Login">
                            <li><a class="btn-buttom-bar registrer-btn" href="Login">Iniciar Sesion</a></li>
                            <li><a class="btn-buttom-bar login-btn" href="Signin">Registrarse</a></li>
                        </ul>
                    </div>

                    <div class="div container-bar-main">
                        <ul class="list-options">
                            <li class="links-bars"><a href="#">Cuentas</a></li>
                            <li class="links-bars"><a href="#">Seguros</a></li>
                            <li class="links-bars"><a href="#">Hipotecas</a></li>
                            <li class="links-bars"><a href="#">Depositos</a></li>
                        </ul>
    
                            <!-- OPCION DE MENU EXTENSO  -->
                        <div class="header_nav_bars">
                                <!-- Menu bar on mobile view -->
                            <nav class="nav_menu">    
                                <!----------------   MAIN BARS  ---------------------->
                                <div class="main-bar-aside">
                                    <div class="wrapper">
                                        <main id="info-bar" class="contain-bar">
                                            <section class="bar-top">
                                                <h1 class="title-bar-nav">Experiencias</h1>
                                                <div class="wrapper bars-carrusel">
                                                    <button class="carrusel-arrow carrusel-prev" id="button-prev">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                                                            class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 320 512">
                                                            <path fill="currentColor"
                                                                d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                    <div class="min-carrusel">
                                                       
                                                         <!-- CARRUSEL -->
                                                        <div class="min-bank-carrusel">
                                                            <div class="icon-bars">
                                                                <i class=" icon-bar-carrusel fa-solid fa-user"></i>
                                                            </div>
                                                            <div class="txt-bars">
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                            </div>
                                                        </div>
                                                        <div class="min-bank-carrusel">
                                                            <div class="icon-bars">
                                                                <i class=" icon-bar-carrusel fa-solid fa-user"></i>
                                                            </div>
                                                            <div class="txt-bars">
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                            </div>
                                                        </div>
                                                        <div class="min-bank-carrusel">
                                                            <div class="icon-bars">
                                                                <i class=" icon-bar-carrusel  fa-solid fa-user"></i>
                                                            </div>
                                                            <div class="txt-bars">
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                            </div>
                                                        </div>
                                                        <div class="min-bank-carrusel">
                                                            <div class="icon-bars">
                                                                <i class=" icon-bar-carrusel fa-solid fa-user"></i>
                                                            </div>
                                                            <div class="txt-bars">
                                                                <p>Lorem ipsum dolor sit amet consectetur</p>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </section>
                                            <section class="bar-bottom"></section>
                                        </main>
                                        <aside>
                                        
                                        </aside>
                                    </div> 
                                </div>
                                
                            </nav>        
                        </div>
                        
                    </div>
                    

                    <ul class="choose-languajes languaje-top">
                        <!-- BOTONES DE IDIOMAs -->
                        <li><a href="">EN</a></li>
                        <li><a href="">ES</a></li>
                        <li><a href="">CAT</a></li>
                    </ul>


                    <!-- MODO OSCURO -->
                    <a href=""><i class="fa-solid fa-moon"></i></a>


                </nav>
            </div>
        </div>
    </header>
    <div class="hero-about">
        <button class="carrusel-arrow carrusel-arrow-left carrusel-prev" id="btn-left">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left"
                class="svg-inline--fa fa-chevron-left fa-w-10 style-icon" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                    d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
                </path>
            </svg>
        </button>

        <div class="carrusel-container" id="slider-hero">
            
            <div class="carrusel-bank">
                <div class="about-bank-carrusel">
                    <div class="container-text carrusel-text">
                        <h2 class="title-carrusel h2-carrusel">El Banco que siempre vela por ti</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit animi in quos quia aut</p>
                    </div>
                </div>
                <div class="image-carrusel">
                    <picture class="img-carrusel">
                        <img
                        sizes="(max-width: 1100px) 100vw, 1100px"
                        srcset="
                        ../static/img/images-responsives/1_u9djo3_c_scale,w_200.jpg 200w,
                        ../static/img/images-responsives/1_u9djo3_c_scale,w_461.jpg 461w,
                        ../static/img/images-responsives/1_u9djo3_c_scale,w_618.jpg 618w,
                        ../static/img/images-responsives/1_u9djo3_c_scale,w_640.jpg 640w"
                        src="../static/img/1.jpg"
                        alt="">
                    </picture>
                </div>
                
            </div>
            <div class="carrusel-bank">
                <div class="about-bank-carrusel">
                    <div class="container-text carrusel-text">
                        <h2 class="title-carrusel h2-carrusel">El Banco que siempre vela por ti</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit animi in quos quia aut</p>
                    </div>
                </div>
                <div class="image-carrusel">
                    <picture class="img-carrusel">
                        <img
                        sizes="(max-width: 1100px) 100vw, 1100px"
                        srcset="
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_200.jpg 200w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_641.jpg 641w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_941.jpg 941w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1126.jpg 1126w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1323.jpg 1323w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1400.jpg 1400w"
                        src="../static/img/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1400.jpg"
                        alt="">
                    </picture>
                </div>
                
            </div>
            <div class="carrusel-bank">
                <div class="about-bank-carrusel">
                    <div class="container-text carrusel-text">
                        <h2 class="title-carrusel h2-carrusel">El Banco que siempre vela por ti</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fugit animi in quos quia aut</p>
                    </div>
                </div>
                <div class="image-carrusel">
                    <picture class="img-carrusel">
                        <img
                        sizes="(max-width: 1100px) 100vw, 1100px"
                        srcset="
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_200.jpg 200w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_641.jpg 641w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_941.jpg 941w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1126.jpg 1126w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1323.jpg 1323w,
                        ../static/img/images-responsives/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1400.jpg 1400w"
                        src="../static/img/brooke-cagle-tLG2hcpITZE-unsplash_l5pjmd_c_scale,w_1400.jpg"
                        alt="">
                    </picture>
                </div>
            </div>
        </div>
        <button class="carrusel-arrow carrusel-arrow-right carrusel-next" id="btn-next">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
            class="svg-inline--fa fa-chevron-right fa-w-10 style-icon" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512">
            <path fill="currentColor"
                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
            </path>
        </svg>
    </button>
    </div>
    <main id="main-landing_page">
        <section class="advantages-bank">
            <div class="wrapper container-bank-advantages">
                <h2 class="title-landing">La Ventaja de estar con Nosotros</h2>
                <div class="wrapper-advantages">
                    <div class="image-reference">
                        <img src="../static/img/coin_cell-removebg-preview.png" alt="">
                    </div>
                    <div class="text-advantages size-down-left">
                        <i></i>
                        <h2>0 Comisiones ni Condiciones</h2>
                        <p></p>
                    </div>
                    <div class="text-advantages size-down-rigth">
                        <i></i>
                        <h2>Servicio de Calidad las 24 horas</h2>
                        <p></p>
                    </div>
                    <div class="text-advantages size-top-left">
                        <i></i>
                        <h2>Tarifas competitivas y beneficios adicionales: </h2>
                        <p></p>
                    </div>
                    <div class="text-advantages size-top-rigth">
                        <i></i>
                        <h2>Seguridad y protección: </h2>
                        <p></p>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer-bank" class="footer about_bank">
        <div class="wrapper ">
            <div class="footer-content">
                <div class="footer-log">
                    <img class="background-img-footer" src="../static/img/logo_Bank-removebg-preview.png" alt="logo bank sin fondo">
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/barba.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>