<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/reset.css">    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <header id="header-all-container">
        <div class="container-header">
            <div class="wrapper">
                <div class="title-header">
                    <i class="fa-solid fa-building-columns"></i> <!-- aqui debe ir icono del banco, se pondra un bank para emular -->
                    <h1 class="title_bank_principal">Salame Bank</h1>
                </div>

                <!-- <label for="navigation-header" class="bars-menu">  -->
                <i class="fa-solid fa-bars bar-menu"></i>
                <!-- </label> -->
                <!-- <input type="checkbox" id="navigation-header" class="nav_input"> -->
    
                <nav class="navigation-header">
                    <ul class="choose-languajes languaje-top">
                        <!-- BOTONES DE IDIOMAs -->
                        <li><a href="">EN</a></li>
                        <li><a href="">ES</a></li>
                        <li><a href="">CAT</a></li>
                    </ul>

                    <div class="header-bottom">
                        <ul class="Buttoms-Signin_Login">
                            <li><a href="Signin.html">Iniciar Sesion</a></li>
                            <li><a href="Login.html">Registrarse</a></li>
                        </ul>
    
                        <!-- OPCION DE MENU EXTENSO  -->
                        <div class="header_nav_bars">
                                <!-- Menu bar on mobile view -->
                            <nav class="nav_menu">    
                                Menu
                                <div class="main-bar-aside">
                                    <div class="wrapper">
                                        <main id="info-bar" class="contain-bar">
                                            <section class="bar-top">
                                                <h1>Experiencias</h1>
                                                <div class="wrapper">
                                                    
                                                </div>
                                            </section>
                                            <section class="bar-bottom"></section>
                                        </main>
                                        <aside>
                                        
                                        </aside>
                                    </div> 
                                </div>
                            </div>
                            </nav>     
                        </div>
                        <!-- MODO OSCURO -->
                        <a href=""><i class="fa-solid fa-moon"></i></a>
    
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="hero-about">
        <div class="wrapper">
            <div class="carrusel-bank"></div>
            <div class="carrusel-bank"></div>
            <div class="carrusel-bank"></div>
            <div class="carrusel-bank"></div>
        </div>
    </div>
    <main id="main-landing_page">
        
    </main>

    <footer id="footer about_bank">

    </footer>

</body>
</html>