<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/form.css">
    <title>Creacion de Cuenta</title>
</head>
<body>
    <div id="container-account">
        <div class="wrapper">
            <h1></h1>
            <form action="" method="post">
                <ul>
                    <li>
                        <label for="count">Cuenta Corriente</label>
                        <input type="" id="count" name="count">
                    </li>
                    <li>
                        <label for="vip">Cuenta Vip</label>
                        <input type="" id="vip" name="vip">
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>
</html>